.blind {
    text-indent: -9999px;
    overflow: hidden;   
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: calc(100vh - 150px);
    border: 1px solid #dedede;
    padding: 30px;
    background: #212121;
}

.search_bar {
    display: flex;
    align-items: center;
    width: 400px;
    height: 400px;
    max-width: 100%;
}

.search_bar input {
    width: calc(100% - 64px);
    height: 100%;
    padding: 0 5px;
    border: 1px solid #303030;
    background-color: #121212;
    border-radius: 60px;
    caret-color: #fff;
    font-size: 16px;
    color: #fff;
}

.contents {
    display: none;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 20%;
    padding: 3%;
    border: 1px solid #383838;
    overflow-y: auto;
}

.contents.list {
    display: flex;
}

.contents figure {
    display: flex;
    flex-direction: column;
    position: relative;
    flex 0 0 23%;
    margin: 1%;
}

.contents figure .btn_view {
    flex: none;
    width: 100%;
    position: relative;
}

.contents figure picture {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}